/* table  */
$table_header: #F1F4FC;
$table_hover: #F1F4FC;
$table_bg: #FFFFFF;
/* tabs */
$tabs_border: #4064D4;
$tabs_bg: #4064D4;
$tabs_color: #4064D4;
$tabs_active: #ffffff;
/*  common */
$--color-primary: #4064D4;
$--color-info: #36C2CF;
$text-color: #666;
