.el-icon-date:before {
    color: #43A1AC;
}

.el-date {
    color: #fff;
}

.el-picker-panel__icon-btn:hover {
    color: #43A1AC;
}

.el-month-table td .cell {
    color: #D3D3D4;
}

.el-date-table td.disabled div {
    background: #393D41;
    color: #7B7C7E;
}



.el-date-picker__header-label:hover {
    color: #43A1AC;
}

.el-year-table td .cell {
    color: #D3D3D4;
}

.el-year-table td.today .cell {
    color: #43A1AC;
}

.el-year-table td .cell:hover,
.el-year-table td.current:not(.disabled) .cell {
    color: #43A1AC;
}

// color: #43A1AC
.el-date-picker__header--bordered {
    border-bottom: solid 1px #4F5155;
}

.el-month-table td.today .cell {
    color: #43A1AC;
}

.el-month-table td.current:not(.disabled) .cell {
    color: #43A1AC;
}

.el-month-table td .cell:hover {
    color: #43A1AC;
}

.el-picker-panel {
    background: #2D3034;
    border: 1px solid #4F5155;
    color: #D3D3D4;
}

.el-date-range-picker__content.is-left {
    border-right: 1px solid #4F5155;
}

.el-date-table td.today span {
    color: #43A1AC;
    font-weight: 700;
}

.el-date-table td.available:hover {
    color: #43A1AC;
}

.el-picker-panel__sidebar {
    background: #2D3034;
    border-right: 1px solid #4F5155;
}

.el-date-picker__header-label {
    color: #D3D3D4;
}

.el-date-table td.current:not(.disabled) span {
    color: #FFF;
    background-color: #43A1AC;
}


.el-popper[x-placement^=bottom] .popper__arrow::after {
    top: 1px;
    margin-left: -6px;
    border-top-width: 0;
    border-bottom-color: #2D3034;
}

.el-date-table th {
    padding: 5px;
    color: #D3D3D4;
    font-weight: 400;
    border-bottom: solid 1px #4F5155;
}

.el-date-table td.in-range div,
.el-date-table td.in-range div:hover,
.el-date-table.is-week-mode .el-date-table__row.current div,
.el-date-table.is-week-mode .el-date-table__row:hover div {
    background-color: #292B2F;
}

.el-date-table td.end-date span,
.el-date-table td.start-date span {
    background-color: #43A1AC;
}

.el-picker-panel__icon-btn {
    color: #D3D3D4;
}

.el-range-editor.is-active,
.el-range-editor.is-active:hover {
    border-color: #43A1AC;
}



.el-month-table td.end-date .cell,
.el-month-table td.start-date .cell {
    background-color: #292B2F;
    color: #43A1AC;
}

.el-month-table td.in-range div,
.el-month-table td.in-range div:hover {
    background-color: #292B2F;
}

// 年月日时间
.el-date-picker__time-header {
    border-bottom: 1px solid #4F5155;
}

.el-picker-panel__footer {
    background: #2D3034;
    border-top: 1px solid #4F5155;
    padding: 10px 10px 10px 4px;
}

.el-time-panel {
    background-color: #2D3034;
    border: 1px solid #4F5155;
}

.el-time-panel__footer {
    border-top: 1px solid #4F5155;
}

.el-time-panel__content::after,
.el-time-panel__content::before {
    border-top: 1px solid #4F5155;
    border-bottom: 1px solid #4F5155;
}

.el-time-spinner__item {
    color: #606266;
}

.el-time-spinner__item.active:not(.disabled) {
    color: #D3D3D4;
}

.el-time-spinner__item:hover:not(.disabled):not(.active) {
    background: #232528;
}

.el-time-panel__btn.confirm {
    color: #43a1ac;
}

.el-time-panel__btn {
    color: #606266;
}

.el-button.is-plain:focus,
.el-button.is-plain:hover {
    background: #273840;
    cursor: pointer;
    color: #43a1ac;
    border-color: #366f71;
}

.el-date-range-picker__time-header {
    border-bottom: 1px solid #4f5155;
}
